# Populated on Day 2.
# Example to be enabled tomorrow:
# /base/**            @ciam-core
# /overlays/**        @ciam-core
# /apps/app-claims/** @team-claims


# The core CIAM team owns all foundational policies and global overlays.
/base/** @uday-test/ciam-core
/overlays/** @uday-test/ciam-core

# The app-claims team owns their specific application folder
/apps/app-claims/** @uday-test/team-claims 
